/* ================GENERAL=================== */
html {
  scroll-padding-top: auto;
}

.App {
  background-color:grey;
  z-index: -100;
}

.main-container{
  padding: 1%;
  z-index: auto;
  background-color:grey;
}

input{
  margin: 1%;
  padding: 1%;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px/10px;
  width: 94%;
  min-width: fit-content;
  max-width: auto;
}

textarea{
  margin: 1%;
  padding: 1%;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px/10px;
  width: 95%;
  max-width: relative;
}


button{
  background-color: rgba(151, 122, 136, 0.5);
  box-shadow: 0 4px 8px 0 rgba(151, 122, 136, 0.5);
  margin: 3px;
}

button:hover{
  border-radius: 10%;
  box-shadow: 0 8px 16px 0;
}

.close-button{
  float: right;
  background-color: aquamarine;
  border-radius: 10px/10px
}

/*===================HEADER=================== */

.header{
  background-color: rgba(156, 154, 154, 0.75);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  max-height: 5%;
  padding: 1%;
  object-fit: contain;
}

.newPostButton{
  float: right;
  background: rgba(144, 247, 199, 0.5);
}

.newCategoryButton{
  float: right;
  background-color: rgba(144, 247, 170, 0.5);
}

.filterButton{
  float: right;
  background-color: rgba(155, 224, 245, 0.5)
}

.cat-selector {
  float: left;
  min-width: 50%;
  max-width: 75%;
  width: auto;
}

.logoutButton{
  float: right;
  background: transparent;
  margin-right: 3%;
}

/*===================POST=================== */
.posts-container{
  padding: 1%;
  height: 100%;
  padding-top: 5%;
}

.post-card{
  margin: 1%;
  padding: .5% .5% 0 .5% ;
  width: 65%;
  border-radius: 1px;
  background-color: lightgrey;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  position: relative;
}

.post-img-container{
  padding: .5%;
  display: inline-block;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: black;
  background-color: beige;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.post-img{
  max-width: 42px;
  max-height: 42px;
}

.title-container{
  padding: .5%;
  min-height: 10px;
  width: auto;
  max-width: 100%;
  margin-bottom: 1%;
  align-items: top left;
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 1px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.title{
  font-size: 10%;
}
.content-container{
  margin: 1%;
}
.contents-container{
  width: 98%;
  padding: 1%;
  display: flex;
  align-content: center;
}

/* ==================LOGIN================== */

.login-card{
  height: 40%;
  width: 20%;
  margin: auto;
  margin-top: 5%;
  padding: 10px;
  text-align: center;
  border-radius: 5%;
  background-color: rgb(194, 95, 2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.login-img-container{
  max-width: auto;
  max-height: auto;
  margin-bottom: 3px;
  padding: 3px;
  border: 2px;
  border-radius: 5%;
  background-color: lightgoldenrodyellow;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.login-img{
  max-width: 100%;
  max-height: 100%;
  animation: rotation 10s infinite;
  animation-direction: alternate;
}

/* =======================USER===================== */

.user-card-container{
  float: top;
  width: 30%;
  margin-top: 5%;
  max-width: 30%;
  max-height: 50%;
  padding: 1%;
  right: 1%;
  position: fixed;
  display: flex;
  align-content: block;
  z-index: -.9;
  border-radius: 10px;
  background-color: chartreuse;
  font-size: 16px;
  font-size: 1vw;
}

.user-card-div{
  width: 50%;
  max-width: 50%;
  height: 90%;
  padding: 1%;
  margin: 0 1% 0 0;
  border-radius: 10px;
  background-color:  rgb(202, 200, 198);
}

.general-info-card-div{
  width: 50%;
  max-width: 50%;
  height: 90%;
  margin: 0 1% 0 0;
  padding: 1%;
  border-radius: 10px;
  background-color: rgb(202, 200, 198);
}

/* ===================COMMENTS==================== */

.comment-card {
  padding-left: 1%;
  margin: 1%;
  border: 1px;
  border-radius: 2% ;
  border-style: solid;
  border-color: rgb(61, 60, 60);
  background-color: rgb(156, 152, 152);
  box-shadow: 0 4px 8px 0 rgba(117, 43, 43, 0.2);
  min-width: 10%
}

.post-ul {
  list-style: none;
  padding: 0px;
}

.comment-ul {
  list-style: none;
  padding-left: 3%;
}
.comment-ul li:before {
   content: '↘';
}

/* =====================FORMS==================== */

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% 10%;
  z-index: 1;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 2%;
  width: auto;
  max-width: 55%;
  height: auto;
}

.modal-content-post {
  background-color: #fefefe;
  margin: 10% 10%; 
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  width: auto;
  height: auto; 
}

.modal-content-new-post {
  margin: 5%;
  padding: 1%;
  max-width: auto;
  max-height: auto;
  background: grey;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

.modal-post-img {
  max-width: auto;
  max-height: auto;
}

.modal-post-img-container{
  display: inline-block;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: beige;
  padding: .5%;
}

.new-user-modal-content{
  background-color: #fefefe;
  margin: 10% 10%; 
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 30%;
  height: auto;
}

.modal-content button{
  margin:1%;
}

.modal-content select{
  margin:1%;
}
/*===============The Close Button=============== */
.close {
  color: #aaa;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ===================ANIMATION==================== */

@keyframes rotation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(359deg);
  }
}