/* ================GENERAL=================== */

.App {
  /* align-items: left; */
}

.main-container{
  z-index: auto;
  /* padding: 1%; */
}

input{
  margin: 1%;
  padding: 1%;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px/10px;
  width: 94%;
  min-width: fit-content;
  max-width: auto;
}

textarea{
  margin: 1%;
  padding: 1%;
  box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, 0.2);
  border-radius: 10px/10px;
  width: 95%;
  max-width: relative;
}


button{
  background-color: rgb(245, 120, 89, 0.5);
  box-shadow: 0 4px 8px 0 rgba(230, 126, 174, 0.5);
  margin: 3px;
}

button:hover{
  border-radius: 10%;
  box-shadow: 0 8px 16px 0;
}

.close-button{
  float: right;
  background-color: aquamarine;
border-radius: 10px/10px
}

.header{
  background-color: rgba(156, 154, 154, 0.5);
  position: fixed;
  top: 0;
  padding-top: .5%;
  padding-bottom: .5%;
  padding-left: 1%;
  padding-right: 1%;
  width: 98%;
}

.newPost{
  float: right;
}

.newCategory{
  float: right;
}

.filterButton{
  float: right;
}

.cat-selector {
  max-width: 90%;
}

.logout{
  float: right;
  background: transparent;
}

/*===================POST=================== */
.posts-container{
  padding: 1%;
  margin-top: 4.5%;
}

.post-card{
  margin: 1%;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 65%;
  padding: .5% .5% 0 .5% ;
  background-color: lightgrey;
}

.post-img-container{
  display: inline-block;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: beige;
  padding: .5%;
}

.post-img{
  max-width: 42px;
  max-height: 42px;
}

.title-container{
  padding: .5%;
  align-items: top left;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border: 1px;
  border-style: solid;
  border-color: black;
  border-radius: 10px;
  width: auto;
  max-width: 100%;
  margin-bottom: 1%;

  background-color: rgb(250, 185, 161);
}
.button-container{
  margin-top: 1%;
  margin-bottom: 0%;
}

.title{
  font-size: 10%;
}
.content-container{
  margin: 1%;
}
.contents-container{
  align-content: center;
  padding: 1%;
  display: flex;
  width: 98%;
}

/* ==================LOGIN================== */

.login-card{
  padding: 10px;
  margin: auto;
  margin-top: 5%;
  text-align: center;
  background-color: rgb(194, 95, 2);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5%;
  height: 40%;
  width: 20%;
}

.login-img-container{
  margin-bottom: 3px;
  border: 2px;
  background-color: lightgoldenrodyellow;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 5%;
  padding: 3px;
  max-width: auto;
  max-height: auto;
}

.login-img{
  animation: rotation 10s infinite;
  animation-direction: alternate;
  max-width: 100%;
  max-height: 100%;
}

/* =======================USER===================== */

.user-card-container{
  display: flex;
  align-content: block;
  width: 30%;
  max-width: 30%;
  height: 90%;
  margin-top: 2%;
  padding: 1%;
  position: fixed;
  z-index: -1;
  border-radius: 10px;
  right: 1%;
  background-color: grey;
  max-height: 50%
}

.user-card-div{
  width: 50%;
  max-width: 50%;
  height: 90%;
  padding: 1%;
  margin: 0 1% 0 0;
  border-radius: 10px;
  background-color: rgb(243, 157, 77);
}

.general-info-card-div{
  width: 50%;
  max-width: 50%;
  height: 90%;
  margin: 0 1% 0 0;
  padding: 1%;
  border-radius: 10px;
  background-color: rgb(243, 157, 77);
}

/* ===================COMMENTS==================== */

.comment-card {
  padding-left: 1%;
  margin: 1%;
  border: 1px;
  border-radius: 2% ;
  border-style: solid;
  border-color: rgb(61, 60, 60);
  background-color: rgb(156, 152, 152);
  box-shadow: 0 4px 8px 0 rgba(117, 43, 43, 0.2);
  min-width: 10%
}

.post-ul {
  list-style: none;
  padding: 0px;
}

.comment-ul {
  list-style: none;
  padding-left: 3%;
}
.comment-ul li:before {
   content: '↘';
}

/* =====================FORMS==================== */

.modal {
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% 10%;
  z-index: 1;
  padding: 10px;
  border: 1px solid #888;
  border-radius: 2%;
  width: auto;
  max-width: 55%;
  height: auto;
}

.modal-content-post {
  background-color: #fefefe;
  margin: 10% 10%; 
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  width: auto;
  height: auto; 
}

.modal-content-new-post {
  margin: 5%;
  padding: 1%;
  max-width: auto;
  max-height: auto;
  background: grey;
  border-width: 1px;
  border-style: solid;
  border-color: white;
  z-index: 0;
}

.modal-post-img {
  max-width: auto;
  max-height: auto;
}

.modal-post-img-container{
  display: inline-block;
  align-items: center;
  border: 1px;
  border-style: solid;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  background-color: beige;
  padding: .5%;
}

.new-user-modal-content{
  background-color: #fefefe;
  margin: 10% 10%; /* 15% from the top and centered */
  padding: 10px;
  border: 1px solid #888;
  border-radius: 5px;
  width: 30%;
  height: auto; /* Could be more or less, depending on screen size */
}

.modal-content button{
  margin:1%;
}

.modal-content select{
  margin:1%;
}
/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* ===================ANIMATION==================== */

@keyframes rotation {
  from {
    transform: rotateX(0deg);
  }
  to {
    transform: rotateX(359deg);
  }
}