.App {
  text-align: center;
}

.post-card{
  display: flex;
  align-content: center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}

.title-container{
  align-items: top left;
  border: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.img-container{
  align-items: center;
  border: 2px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 3px;
  width: 45px;
  height: 45px;
}

img{
  width: 42px;
  height: 42px;
}
